<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Oh No !!!!</h1>
          <p class="lead">There is no such location or city you are searching for!!! Click below For an another search. </p>

        <form class="" action="/" method="get">
          <div class = "submit">
            <button class ="btn btn-lg btn-primary" type="submit" name="button">Click Here For New Search</button>
            </div>
        </form>

        </div>

      </div>


</body>
</html>




<%- include("footer") -%>
