* {
  box-sizing: border-box;
}

.container{
  width: 100%;

  display:flex;
  flex-direction:row;
  flex-wrap:wrap;

  justify-content: space-between;

  padding: 69px 20px;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  margin-top: 20px;


}
.subtitle {
  box-sizing: border-box;
  overflow: hidden;
}

h1 {
  font-size: 20px;
  overflow: hidden;
  font-family: 'Oxygen Mono', monospace;
}

h3 {
  font-size: 40px;
  font-family: 'Oxygen Mono', monospace;
  overflow: hidden;
}

.footer{
  text-align: center;
  width: 50%;
}

.cards {
  width: 25%;

  padding: 10px 20px;
}

.current-card{
  height: 380px;
  background-position: center;
  padding: 10px 20px;
  border: 5px solid black;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.current-card:hover {
  transform: scale(1.05);
}

.current-card:hover.current-card{
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.location-card {

  height: 380px;
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
  border: 5px solid black;

  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

}

.location-card:hover{
    transform: scale(1.05);
}
.location-card:hover.location-card{
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.contents{
  padding: 5px 10px;
  position: relative;
  top:100px;
  border: 5px solid grey;
  background-color: white;
  opacity: 0.6;
  overflow: hidden;
}

.form-components {
  display: flex;
  justify-content: center;
  height: 380px;

}

.search-box {
  height: 50px;
  position:relative;
  top: 140px;
}
.submit {
  height: 50px;
  position:relative;
  top: 140px;
}

.btn {

  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  cursor: pointer;

}

.title {
  font-size: 5rem;
  width : 50%;
  margin: 10px auto;
  background-color: white;
  opacity: 0.5;
}

.footer {
  font-size: 2rem;
  margin: 5px auto;
  background-color: white;
  opacity: 0.5;
  overflow: hidden;
}
.search {
  background-position: center;
  background-size: cover;
}
body{
  text-align: center;
}
